.chat-input-form {
  display: flex;
  flex-wrap: wrap;   /* allow the button to move below if it overflows */
  gap: 0.5rem;       /* spacaing between input and button */
  margin-top: 10px;
}

.chat-input {
  flex: 1;
  min-width: 0; /* allow input to shrink smaller than its content so it doesn't overflow */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-button {
  color: black;
  flex-shrink: 0; /* prevent button from shrinking */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
