  .footer {
    width: 100%;
    margin-top: 0;
    padding: 1rem 0;
    text-align: center;
    background-color: transparent;
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1rem;
    flex-wrap: nowrap;
  }

  .footer-left {
    font-size: 0.85rem;
    color: #333;
    font-weight: 500;
  }

  .footer-icons {
    display: flex;
    gap: 1rem;
  }

  .footer-icon {
    font-size: 1.1rem;
    text-decoration: none;
    color: #333;
    transition: color 0.4s ease;
  }

  .footer-icon:hover {
    color: #555;
  }
  
  @media (max-width: 600px) {
    .footer-container {
      text-align: center;
      padding: 0rem 3rem;
      font-size: 0.85rem;
    }

    .footer-left {
        font-size: 0.8rem;
      }
    
      .footer-icon {
        font-size: 1rem;
      }
  }
  