  .home-container {
    background-color: #A7CEC0;
    height:  80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* align items to the top */
    padding: 1rem 0rem;
}

.chat-section {
  min-height: 75vh;
  background-color: #FAF7F2;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

 /* For smaller devices make it have a bit of margin to the left and right */
@media (max-width: 600px) {
  .chat-section {
    width: 90%;
  }
}

  
  