  .home-container {
    background-color: #A7CEC0;
    min-height: 100vh;
    /* Center all elements in the page */
    display: flex;
    justify-content: center;
    align-items: center;
  }


.chat-section {
  background-color: #FAF7F2;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  height: 80vh; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

 /* For smaller devices make it have a bit of margin to the left and right */
@media (max-width: 600px) {
  .chat-section {
    width: 80%;
    height: 70vh;
  }
}

  
  